@import "node_modules/bootstrap/scss/bootstrap.scss";

:root {
    --primary-color: #F9FAFB;
    --secondary-color: #F9FAFB;
    --text-color: #F9FAFB;
    --title-text-color: #F9FAFB;
    --title-text-hover-color: #F9FAFB;
    --background-color: #F9FAFB;

    --button-background-color: #162FA1;
    --button-hover-color: #1ca4e6;

    --button-text-color: #162FA1;
    --button-count-color: #ff0000;

    --card-background-color: #6600cc;
    --card-text-color: #ff0000;
    --card-price-color: #fffb00;

    --primary-color: #F9FAFB;
    --secondary-color: #F9FAFB;
    --text-color: #F9FAFB;
    --title-text-color: #F9FAFB;
    --title-text-hover-color: #F9FAFB;
    --background-color: #F9FAFB;

    --button-background-color: #162FA1;
    --button-hover-color: #1ca4e6;

    --button-text-color: #162FA1;
    --button-count-color: #ff0000;

    --card-background-color: #6600cc;
    --card-text-color: #ff0000;
    --card-price-color: #fffb00;


    //
    --info-card-background: #6600cc;
    --info-card-separators: #ff0000;
    --info-card-icon: #fffb00;

    --info-card-hours-title: #6600cc;
    --info-card-subtitle: #ff0000;
    --info-card-text: #fffb00;
    --info-card-hours-text: #fffb00;
}
